## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [251]:
%tensorflow_version 2.x
import tensorflow as tf
print(tf.__version__)

2.0.0

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [253]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Python/Lab/Lab 6/prices.csv")

### Check all columns in the dataset

In [256]:
data.sample(5)

              date symbol        open  ...         low        high      volume
650912  2015-06-01    CLX  108.080002  ...  107.040001  108.269997    489600.0
580504  2014-11-03    ETR   84.300003  ...   83.480003   84.309998   2165200.0
370346  2013-02-20    BSX    7.480000  ...    7.280000    7.540000  23769300.0
746369  2016-03-04    AIZ   74.320000  ...   73.620003   74.809998    748500.0
755116  2016-03-30     MA   93.550003  ...   93.300003   94.169998   3477900.0

[5 rows x 7 columns]

### Drop columns `date` and  `symbol`

In [0]:
data = data.drop(columns=["symbol", "date"], axis=1)

In [258]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [259]:
data["volume"]=data["volume"].values/1000000
data.head(5)

         open       close         low        high  volume
0  123.430000  125.839996  122.309998  126.250000  2.1636
1  125.239998  119.980003  119.940002  125.540001  2.3864
2  116.379997  114.949997  114.930000  119.739998  2.4895
3  115.480003  116.620003  113.500000  117.440002  2.0063
4  117.010002  114.970001  114.089996  117.330002  1.4086

In [0]:
X = data.iloc[:999,:4]
Y = data.iloc[:999,-1]

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=.30,random_state=2)

#### Convert Training and Test Data to numpy float32 arrays

In [262]:
train_x.dtypes

open     float64
close    float64
low      float64
high     float64
dtype: object

In [0]:
import numpy as np
train_x =np.array(train_x).astype('float32')
test_x = np.array(test_x).astype('float32')
train_y =np.array(train_y).astype('float32')
test_y = np.array(test_y).astype('float32')

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer()
train_x = transformer.fit_transform(train_x)
test_x = transformer.transform(test_x)

In [265]:
train_x.shape

(699, 4)

In [266]:
train_y.shape

(699,)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
W = tf.Variable(tf.random.normal([4,1]))
B = tf.Variable(tf.random.normal([1]))

2.Define a function to calculate prediction

In [0]:
def frwrd_pass(train_x,W,B):
    out = tf.matmul(train_x,W ) + B
    return out

3.Loss (Cost) Function [Mean square error]

In [0]:
def loss(predicted_y, desired_y):
  return tf.reduce_mean(tf.square(predicted_y - desired_y))

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:
def train(train_x, train_y, epochs):
  optimizer = tf.optimizers.SGD(learning_rate = 0.1)
  for i in range(epochs):
    with tf.GradientTape() as tape: 
      predicted = frwrd_pass(train_x,W,B )
      curr_loss = loss(predicted,train_y)
    grads = tape.gradient(curr_loss, [W,B] )
    optimizer.apply_gradients(zip(grads, [W,B]))
    print("Loss at step {:d}: {:.3f}".format(i, loss(frwrd_pass(train_x,W,B ),train_y)))

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [271]:
train(train_x,train_y,100)

Loss at step 0: 229.509
Loss at step 1: 221.899
Loss at step 2: 219.159
Loss at step 3: 218.173
Loss at step 4: 217.818
Loss at step 5: 217.690
Loss at step 6: 217.644
Loss at step 7: 217.627
Loss at step 8: 217.621
Loss at step 9: 217.619
Loss at step 10: 217.618
Loss at step 11: 217.618
Loss at step 12: 217.618
Loss at step 13: 217.618
Loss at step 14: 217.618
Loss at step 15: 217.618
Loss at step 16: 217.618
Loss at step 17: 217.618
Loss at step 18: 217.618
Loss at step 19: 217.618
Loss at step 20: 217.618
Loss at step 21: 217.618
Loss at step 22: 217.618
Loss at step 23: 217.618
Loss at step 24: 217.618
Loss at step 25: 217.618
Loss at step 26: 217.618
Loss at step 27: 217.618
Loss at step 28: 217.618
Loss at step 29: 217.618
Loss at step 30: 217.618
Loss at step 31: 217.618
Loss at step 32: 217.618
Loss at step 33: 217.618
Loss at step 34: 217.618
Loss at step 35: 217.618
Loss at step 36: 217.618
Loss at step 37: 217.618
Loss at step 38: 217.618
Loss at step 39: 217.618
Loss at step 40: 217.618
Loss at step 41: 217.618
Loss at step 42: 217.618
Loss at step 43: 217.618
Loss at step 44: 217.618
Loss at step 45: 217.618
Loss at step 46: 217.618
Loss at step 47: 217.618
Loss at step 48: 217.618
Loss at step 49: 217.618
Loss at step 50: 217.618
Loss at step 51: 217.618
Loss at step 52: 217.618
Loss at step 53: 217.618
Loss at step 54: 217.618
Loss at step 55: 217.618
Loss at step 56: 217.618
Loss at step 57: 217.618
Loss at step 58: 217.618
Loss at step 59: 217.618
Loss at step 60: 217.618
Loss at step 61: 217.618
Loss at step 62: 217.618
Loss at step 63: 217.618
Loss at step 64: 217.618
Loss at step 65: 217.618
Loss at step 66: 217.618
Loss at step 67: 217.618
Loss at step 68: 217.618
Loss at step 69: 217.618
Loss at step 70: 217.618
Loss at step 71: 217.618
Loss at step 72: 217.618
Loss at step 73: 217.618
Loss at step 74: 217.618
Loss at step 75: 217.618
Loss at step 76: 217.618
Loss at step 77: 217.618
Loss at step 78: 217.618
Loss at step 79: 217.618
Loss at step 80: 217.618
Loss at step 81: 217.618
Loss at step 82: 217.618
Loss at step 83: 217.618
Loss at step 84: 217.618
Loss at step 85: 217.618
Loss at step 86: 217.618
Loss at step 87: 217.618
Loss at step 88: 217.618
Loss at step 89: 217.618
Loss at step 90: 217.618
Loss at step 91: 217.618
Loss at step 92: 217.618
Loss at step 93: 217.618
Loss at step 94: 217.618
Loss at step 95: 217.618
Loss at step 96: 217.618
Loss at step 97: 217.618
Loss at step 98: 217.618
Loss at step 99: 217.618

### Get the shapes and values of W and b

In [272]:
W.shape

TensorShape([4, 1])

In [273]:
B.shape

TensorShape([1])

### Model Prediction on 1st Examples in Test Dataset

In [274]:
test_data=train_x[3:5,:]
test_data

array([[0.5028525 , 0.4982129 , 0.4949379 , 0.5039442 ],
       [0.49814844, 0.49981463, 0.49623844, 0.50574785]], dtype=float32)

In [275]:
pred=frwrd_pass(test_data,W,B)
pred

<tf.Tensor: id=25391, shape=(2, 1), dtype=float32, numpy=
array([[5.615408 ],
       [5.6187296]], dtype=float32)>

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

In [0]:
from keras.models import Sequential
from keras.layers import Dense

### Load the given Iris data using pandas (Iris.csv)

In [277]:
Iris = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Python/Lab/Lab 6/11_Iris.csv")
Iris.sample(5)

      Id  SepalLengthCm  ...  PetalWidthCm          Species
118  119            7.7  ...           2.3   Iris-virginica
74    75            6.4  ...           1.3  Iris-versicolor
71    72            6.1  ...           1.3  Iris-versicolor
58    59            6.6  ...           1.3  Iris-versicolor
138  139            6.0  ...           1.8   Iris-virginica

[5 rows x 6 columns]

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [278]:
Iris_new = pd.get_dummies(Iris)
Iris_new.head(5)

   Id  SepalLengthCm  ...  Species_Iris-versicolor  Species_Iris-virginica
0   1            5.1  ...                        0                       0
1   2            4.9  ...                        0                       0
2   3            4.7  ...                        0                       0
3   4            4.6  ...                        0                       0
4   5            5.0  ...                        0                       0

[5 rows x 8 columns]

### Splitting the data into feature set and target set

In [279]:
Iris_new.iloc[:,5:8]

     Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
0                      1                        0                       0
1                      1                        0                       0
2                      1                        0                       0
3                      1                        0                       0
4                      1                        0                       0
5                      1                        0                       0
6                      1                        0                       0
7                      1                        0                       0
8                      1                        0                       0
9                      1                        0                       0
10                     1                        0                       0
11                     1                        0                       0
12                     1                        0                       0
13                     1                        0                       0
14                     1                        0                       0
15                     1                        0                       0
16                     1                        0                       0
17                     1                        0                       0
18                     1                        0                       0
19                     1                        0                       0
20                     1                        0                       0
21                     1                        0                       0
22                     1                        0                       0
23                     1                        0                       0
24                     1                        0                       0
25                     1                        0                       0
26                     1                        0                       0
27                     1                        0                       0
28                     1                        0                       0
29                     1                        0                       0
..                   ...                      ...                     ...
120                    0                        0                       1
121                    0                        0                       1
122                    0                        0                       1
123                    0                        0                       1
124                    0                        0                       1
125                    0                        0                       1
126                    0                        0                       1
127                    0                        0                       1
128                    0                        0                       1
129                    0                        0                       1
130                    0                        0                       1
131                    0                        0                       1
132                    0                        0                       1
133                    0                        0                       1
134                    0                        0                       1
135                    0                        0                       1
136                    0                        0                       1
137                    0                        0                       1
138                    0                        0                       1
139                    0                        0                       1
140                    0                        0                       1
141                    0                        0                       1
142                    0                        0                       1
143                    0                        0                       1
144                    0                        0                       1
145                    0                        0                       1
146                    0                        0                       1
147                    0                        0                       1
148                    0                        0                       1
149                    0                        0                       1

[150 rows x 3 columns]

In [0]:
from sklearn.model_selection import train_test_split
X = Iris_new.iloc[:,1:5]
Y = Iris_new.iloc[:,5:8]
train_x,test_x,train_y,test_y=train_test_split(X,Y,test_size=.30,random_state=2)

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [0]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(4, input_dim=4, kernel_initializer='normal', activation='relu'))
model.add(tf.keras.layers.Dense(3, kernel_initializer='normal', activation='softmax'))
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

### Model Training

In [289]:
model.fit(train_x, train_y, epochs=50)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <type 'NoneType'>
Train on 105 samples
Epoch 1/50
105/105 [==============================] - 0s 2ms/sample - loss: 1.1001 - accuracy: 0.4000
Epoch 2/50
105/105 [==============================] - 0s 86us/sample - loss: 1.0994 - accuracy: 0.4381
Epoch 3/50
105/105 [==============================] - 0s 82us/sample - loss: 1.0989 - accuracy: 0.3333
Epoch 4/50
105/105 [==============================] - 0s 81us/sample - loss: 1.0980 - accuracy: 0.3333
Epoch 5/50
105/105 [==============================] - 0s 78us/sample - loss: 1.0975 - accuracy: 0.3333
Epoch 6/50
105/105 [==============================] - 0s 67us/sample - loss: 1.0969 - accuracy: 0.3333
Epoch 7/50
105/105 [==============================] - 0s 67us/sample - loss: 1.0963 - accuracy: 0.3143
Epoch 8/50
105/105 [==============================] - 0s 60us/sample - loss: 1.0958 - accuracy: 0.3333
Epoch 9/50
105/105 [==============================] - 0s 85us/sample - loss: 1.0953 - accuracy: 0.3905
Epoch 10/50
105/105 [==============================] - 0s 74us/sample - loss: 1.0948 - accuracy: 0.3429
Epoch 11/50
105/105 [==============================] - 0s 76us/sample - loss: 1.0943 - accuracy: 0.4286
Epoch 12/50
105/105 [==============================] - 0s 82us/sample - loss: 1.0935 - accuracy: 0.3524
Epoch 13/50
105/105 [==============================] - 0s 83us/sample - loss: 1.0931 - accuracy: 0.3524
Epoch 14/50
105/105 [==============================] - 0s 102us/sample - loss: 1.0927 - accuracy: 0.3524
Epoch 15/50
105/105 [==============================] - 0s 79us/sample - loss: 1.0919 - accuracy: 0.3524
Epoch 16/50
105/105 [==============================] - 0s 77us/sample - loss: 1.0914 - accuracy: 0.3524
Epoch 17/50
105/105 [==============================] - 0s 73us/sample - loss: 1.0906 - accuracy: 0.3524
Epoch 18/50
105/105 [==============================] - 0s 75us/sample - loss: 1.0899 - accuracy: 0.3524
Epoch 19/50
105/105 [==============================] - 0s 86us/sample - loss: 1.0892 - accuracy: 0.3524
Epoch 20/50
105/105 [==============================] - 0s 85us/sample - loss: 1.0884 - accuracy: 0.3524
Epoch 21/50
105/105 [==============================] - 0s 100us/sample - loss: 1.0874 - accuracy: 0.3524
Epoch 22/50
105/105 [==============================] - 0s 87us/sample - loss: 1.0864 - accuracy: 0.3524
Epoch 23/50
105/105 [==============================] - 0s 72us/sample - loss: 1.0854 - accuracy: 0.3524
Epoch 24/50
105/105 [==============================] - 0s 75us/sample - loss: 1.0845 - accuracy: 0.3524
Epoch 25/50
105/105 [==============================] - 0s 64us/sample - loss: 1.0834 - accuracy: 0.3524
Epoch 26/50
105/105 [==============================] - 0s 74us/sample - loss: 1.0822 - accuracy: 0.3524
Epoch 27/50
105/105 [==============================] - 0s 79us/sample - loss: 1.0806 - accuracy: 0.3524
Epoch 28/50
105/105 [==============================] - 0s 105us/sample - loss: 1.0792 - accuracy: 0.3524
Epoch 29/50
105/105 [==============================] - 0s 106us/sample - loss: 1.0777 - accuracy: 0.3524
Epoch 30/50
105/105 [==============================] - 0s 101us/sample - loss: 1.0758 - accuracy: 0.3524
Epoch 31/50
105/105 [==============================] - 0s 113us/sample - loss: 1.0742 - accuracy: 0.3524
Epoch 32/50
105/105 [==============================] - 0s 107us/sample - loss: 1.0720 - accuracy: 0.3524
Epoch 33/50
105/105 [==============================] - 0s 104us/sample - loss: 1.0703 - accuracy: 0.3524
Epoch 34/50
105/105 [==============================] - 0s 82us/sample - loss: 1.0688 - accuracy: 0.3524
Epoch 35/50
105/105 [==============================] - 0s 90us/sample - loss: 1.0661 - accuracy: 0.3524
Epoch 36/50
105/105 [==============================] - 0s 78us/sample - loss: 1.0639 - accuracy: 0.3524
Epoch 37/50
105/105 [==============================] - 0s 111us/sample - loss: 1.0618 - accuracy: 0.3524
Epoch 38/50
105/105 [==============================] - 0s 98us/sample - loss: 1.0595 - accuracy: 0.3524
Epoch 39/50
105/105 [==============================] - 0s 92us/sample - loss: 1.0563 - accuracy: 0.3524
Epoch 40/50
105/105 [==============================] - 0s 132us/sample - loss: 1.0539 - accuracy: 0.3524
Epoch 41/50
105/105 [==============================] - 0s 72us/sample - loss: 1.0511 - accuracy: 0.3524
Epoch 42/50
105/105 [==============================] - 0s 97us/sample - loss: 1.0484 - accuracy: 0.3524
Epoch 43/50
105/105 [==============================] - 0s 89us/sample - loss: 1.0451 - accuracy: 0.3524
Epoch 44/50
105/105 [==============================] - 0s 77us/sample - loss: 1.0425 - accuracy: 0.3524
Epoch 45/50
105/105 [==============================] - 0s 78us/sample - loss: 1.0399 - accuracy: 0.3524
Epoch 46/50
105/105 [==============================] - 0s 82us/sample - loss: 1.0364 - accuracy: 0.3524
Epoch 47/50
105/105 [==============================] - 0s 110us/sample - loss: 1.0335 - accuracy: 0.3524
Epoch 48/50
105/105 [==============================] - 0s 77us/sample - loss: 1.0304 - accuracy: 0.3524
Epoch 49/50
105/105 [==============================] - 0s 68us/sample - loss: 1.0269 - accuracy: 0.3524
Epoch 50/50
105/105 [==============================] - 0s 72us/sample - loss: 1.0232 - accuracy: 0.3524

### Model Prediction

In [290]:
Res = model.evaluate(test_x, test_y)
print("Loss")
print(Res[0])
print("Accuracy")
print(Res[1])

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <type 'NoneType'>
45/45 [==============================] - 0s 378us/sample - loss: 1.0430 - accuracy: 0.2889
Loss
1.043019914627075
Accuracy
0.2888889

### Save the Model

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?